html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  background: linear-gradient(to right, #f2994a, #f2c94c);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}