@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2'), url('../fonts/Raleway-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.woff'), url('../fonts/Ubuntu-Medium.woff2');
  font-weight: 500;
}